<a href="https://colab.research.google.com/github/andria03/Rajagiri-Python-files/blob/main/Module3_NumPy_Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**UPLOADING FILES TO GOOGLE COLAB**

In [ ]:
from google.colab import files
supermarket=files.upload()

Saving players_20.csv to players_20.csv

In [ ]:
import google,colab
dir(google.colab)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_debugpy',
 '_debugpy_repr',
 '_history',
 '_import_hooks',
 '_import_magics',
 '_inspector',
 '_installation_commands',
 '_interactive_table_helper',
 '_interactive_table_hint_button',
 '_ipython',
 '_jupyter_nbextension_paths',
 '_kernel',
 '_message',
 '_pip',
 '_reprs',
 '_shell',
 '_shell_customizations',
 '_system_commands',
 '_tensorflow_magics',
 '_variable_inspector',
 'auth',
 'data_table',
 'drive',
 'errors',
 'files',
 'load_ipython_extension',
 'output',
 'runtime',
 'snippets',
 'widgets']


# **PANDAS**
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

In [ ]:
import pandas

***CREATING DATAFRAME FROM DICTIONARY***

In [ ]:
teamgoals={
    'teams':['Spain','England'],
    'goals':[2,4]
}
teamgoaldf= pandas.DataFrame(teamgoals)
print(teamgoaldf)

     teams  goals
0    Spain      2
1  England      4

***READING AND DISPLAYING CSV FILES AS DATAFRAMES***

In [ ]:
import pandas
dataframe=pandas.read_csv("Supermarket_sales.csv")
print(dataframe)

       No    InvoiceID Branch       City Customertype  Gender  \
0       1  750-67-8428      A     Yangon       Member  Female
1       2  226-31-3081      C  Naypyitaw       Normal  Female
2       3  631-41-3108      A     Yangon       Normal    Male
3       4  123-19-1176      A     Yangon       Member    Male
4       5  373-73-7910      A     Yangon       Normal    Male
..    ...          ...    ...        ...          ...     ...
995   996  233-67-5758      C  Naypyitaw       Normal    Male
996   997  303-96-2227      B   Mandalay       Normal  Female
997   998  727-02-1313      A     Yangon       Member    Male
998   999  347-56-2442      A     Yangon       Normal    Male
999  1000  849-09-3807      A     Yangon       Member  Female

                Productline  Unitprice  Quantity      Tax      Total  \
0         Health and beauty      74.69         7  26.1415   548.9715
1    Electronic accessories      15.28         5   3.8200    80.2200
2        Home and lifestyle      46.33         7  16.2155   340.5255
3         Health and beauty      58.22         8  23.2880   489.0480
4         Sports and travel      86.31         7  30.2085   634.3785
..                      ...        ...       ...      ...        ...
995       Health and beauty      40.35         1   2.0175    42.3675
996      Home and lifestyle      97.38        10  48.6900  1022.4900
997      Food and beverages      31.84         1   1.5920    33.4320
998      Home and lifestyle      65.82         1   3.2910    69.1110
999     Fashion accessories      88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross_margin_percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
..         ...    ...          ...     ...                      ...
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross_iincome  Rating
0          26.1415     9.1
1           3.8200     9.6
2          16.2155     7.4
3          23.2880     8.4
4          30.2085     5.3
..             ...     ...
995         2.0175     6.2
996        48.6900     4.4
997         1.5920     7.7
998         3.2910     4.1
999        30.9190     6.6

[1000 rows x 18 columns]

***DISPLAYING ONLY THE FIRST 5 ROWS OF THE DATAFRAME***

---

In [ ]:
print(dataframe.head())

   No    InvoiceID Branch       City Customertype  Gender  \
0   1  750-67-8428      A     Yangon       Member  Female
1   2  226-31-3081      C  Naypyitaw       Normal  Female
2   3  631-41-3108      A     Yangon       Normal    Male
3   4  123-19-1176      A     Yangon       Member    Male
4   5  373-73-7910      A     Yangon       Normal    Male

              Productline  Unitprice  Quantity      Tax     Total       Date  \
0       Health and beauty      74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories      15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle      46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty      58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel      86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross_margin_percentage  gross_iincome  Rating
0  13:08      Ewallet  522.83                 4.761905        26.1415     9.1
1  10:29         Cash   76.40                 4.761905         3.8200     9.6
2  13:23  Credit card  324.31                 4.761905        16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905        23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905        30.2085     5.3

***DISPLAYING FIRST n number of ROWS***

In [ ]:
print(dataframe.head(10))

NameError: ignored

***DISPLAYING ONLY THE LAST 5 ROWS OF THE DATAFRAME***

In [ ]:
print(dataframe.tail())

       No    InvoiceID Branch       City Customertype  Gender  \
995   996  233-67-5758      C  Naypyitaw       Normal    Male
996   997  303-96-2227      B   Mandalay       Normal  Female
997   998  727-02-1313      A     Yangon       Member    Male
998   999  347-56-2442      A     Yangon       Normal    Male
999  1000  849-09-3807      A     Yangon       Member  Female

             Productline  Unitprice  Quantity      Tax      Total       Date  \
995    Health and beauty      40.35         1   2.0175    42.3675  1/29/2019
996   Home and lifestyle      97.38        10  48.6900  1022.4900   3/2/2019
997   Food and beverages      31.84         1   1.5920    33.4320   2/9/2019
998   Home and lifestyle      65.82         1   3.2910    69.1110  2/22/2019
999  Fashion accessories      88.34         7  30.9190   649.2990  2/18/2019

      Time  Payment    cogs  gross_margin_percentage  gross_iincome  Rating
995  13:46  Ewallet   40.35                 4.761905         2.0175     6.2
996  17:16  Ewallet  973.80                 4.761905        48.6900     4.4
997  13:22     Cash   31.84                 4.761905         1.5920     7.7
998  15:33     Cash   65.82                 4.761905         3.2910     4.1
999  13:28     Cash  618.38                 4.761905        30.9190     6.6

T

**DIAPLAYING SPECIFIC COLUMN**

In [ ]:
print(dataframe[['City'],['Branch']])

***TO VIEW THE INDEX OF THE DATAFRAME***

In [ ]:
print(dataframe.index)

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
for i in dataframe.index:
  print(dataframe.City[i],dataframe.Branch[i])

***UPLOADING FIFA DATA***

In [ ]:
import pandas

***PRINTING DATA WITH A MAX VALUE***

In [ ]:
fifadataframe = pandas.read_csv("players_20.csv")
max_overall=fifadataframe.age.idxmax()
#max_overall_loc = fifadataframe.overall.idxmax()
#person=fifadataframe.loc[max_overall_loc]
print(max_overall)
#print(person.long_name," has the highest overall of ",max_overall)

11832

In [ ]:
print(fifadataframe.head(10))

   sofifa_id                                         player_url  \
0     158023  https://sofifa.com/player/158023/lionel-messi/...
1      20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2     190871  https://sofifa.com/player/190871/neymar-da-sil...
3     200389  https://sofifa.com/player/200389/jan-oblak/20/...
4     183277  https://sofifa.com/player/183277/eden-hazard/2...
5     192985  https://sofifa.com/player/192985/kevin-de-bruy...
6     192448  https://sofifa.com/player/192448/marc-andre-te...
7     203376  https://sofifa.com/player/203376/virgil-van-di...
8     177003  https://sofifa.com/player/177003/luka-modric/2...
9     209331  https://sofifa.com/player/209331/mohamed-salah...

          short_name                            long_name  age         dob  \
0           L. Messi       Lionel Andrés Messi Cuccittini   32  1987-06-24
1  Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   34  1985-02-05
2          Neymar Jr        Neymar da Silva Santos Junior   27  1992-02-05
3           J. Oblak                            Jan Oblak   26  1993-01-07
4          E. Hazard                          Eden Hazard   28  1991-01-07
5       K. De Bruyne                      Kevin De Bruyne   28  1991-06-28
6      M. ter Stegen                Marc-André ter Stegen   27  1992-04-30
7        V. van Dijk                      Virgil van Dijk   27  1991-07-08
8          L. Modrić                          Luka Modrić   33  1985-09-09
9           M. Salah                 Mohamed  Salah Ghaly   27  1992-06-15

   height_cm  weight_kg  nationality                 club  ...   lwb   ldm  \
0        170         72    Argentina         FC Barcelona  ...  68+2  66+2
1        187         83     Portugal             Juventus  ...  65+3  61+3
2        175         68       Brazil  Paris Saint-Germain  ...  66+3  61+3
3        188         87     Slovenia      Atlético Madrid  ...   NaN   NaN
4        175         74      Belgium          Real Madrid  ...  66+3  63+3
5        181         70      Belgium      Manchester City  ...  77+3  77+3
6        187         85      Germany         FC Barcelona  ...   NaN   NaN
7        193         92  Netherlands            Liverpool  ...  79+3  83+3
8        172         66      Croatia          Real Madrid  ...  81+3  81+3
9        175         71        Egypt            Liverpool  ...  70+3  67+3

    cdm   rdm   rwb    lb   lcb    cb   rcb    rb
0  66+2  66+2  68+2  63+2  52+2  52+2  52+2  63+2
1  61+3  61+3  65+3  61+3  53+3  53+3  53+3  61+3
2  61+3  61+3  66+3  61+3  46+3  46+3  46+3  61+3
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  63+3  63+3  66+3  61+3  49+3  49+3  49+3  61+3
5  77+3  77+3  77+3  73+3  66+3  66+3  66+3  73+3
6   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7  83+3  83+3  79+3  81+3  87+3  87+3  87+3  81+3
8  81+3  81+3  81+3  79+3  72+3  72+3  72+3  79+3
9  67+3  67+3  70+3  66+3  57+3  57+3  57+3  66+3

[10 rows x 104 columns]

***PRINTING DATA WITH MIN VALUE***

In [ ]:
min_age=fifadataframe.age.min()
min_age_loc = fifadataframe.age.idxmin()
person=fifadataframe.loc[min_age_loc]


print(person.long_name," is the youngest of all players "," . His age is ",person.age)

Adam Hložek  is the youngest of all players   . His age is  16

***PRINTING THE COUNT OF ENTIRE ROWS***

In [ ]:
playercount = fifadataframe.sofifa_id.count()
print(playercount)

18278

***PRINTING THE AVERAGE OF A SPECIFIC COLUMN***

In [ ]:
overall_average = fifadataframe.overall.mean()
print(overall_average)

66.24499398183609

***PRINTING THE PLAYERS OF A SPECIFIC TEAM***

In [ ]:
for i in fifadataframe.index:
  if fifadataframe.club[i] == "FC Barcelona":
    print(fifadataframe.short_name[i])

L. Messi
M. ter Stegen
L. Suárez
Sergio Busquets
A. Griezmann
Piqué
Jordi Alba
S. Umtiti
I. Rakitić
F. de Jong
C. Lenglet
Neto
O. Dembélé
Arthur
A. Vidal
Nélson Semedo
Sergi Roberto
Rafinha
Junior Firpo
Aleñá
Riqui Puig
J. Todibo
M. Wagué
H. Abe
L. Reis
Abel Ruiz
Oriol Busquets
Carles Pérez
Miranda
Chumi
Álex Collado
Jorge Cuenca
Iñaki Peña

***COUNTING PLAYERS FROM DIFFERENT COUNTRIES***

In [ ]:
fifadataframe.groupby('nationality').count()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
nationality,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Albania,43,43,43,43,43,43,43,43,43,43,...,40,40,40,40,40,40,40,40,40,40
Algeria,50,50,50,50,50,50,50,50,50,50,...,43,43,43,43,43,43,43,43,43,43
Angola,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
Antigua & Barbuda,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,66,66,66,66,66,66,66,66,66,66,...,61,61,61,61,61,61,61,61,61,61
Vietnam,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Wales,117,117,117,117,117,117,117,117,117,117,...,103,103,103,103,103,103,103,103,103,103
Zambia,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
Zimbabwe,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12

***DISPLAYING THE DETAILS OF PLAYERS OF CERTIAN TEAM***

In [ ]:
fifadataframe.loc[fifadataframe['club'] == "FC Barcelona"]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
6,192448,https://sofifa.com/player/192448/marc-andre-te...,M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,176580,https://sofifa.com/player/176580/luis-suarez/2...,L. Suárez,Luis Alberto Suárez Díaz,32,1987-01-24,182,86,Uruguay,FC Barcelona,...,67+5,67+5,67+5,67+5,67+5,64+5,63+5,63+5,63+5,64+5
21,189511,https://sofifa.com/player/189511/sergio-busque...,Sergio Busquets,Sergio Busquets i Burgos,30,1988-07-16,189,76,Spain,FC Barcelona,...,78+3,86+3,86+3,86+3,78+3,78+3,82+3,82+3,82+3,78+3
22,194765,https://sofifa.com/player/194765/antoine-griez...,A. Griezmann,Antoine Griezmann,28,1991-03-21,176,73,France,FC Barcelona,...,73+3,71+3,71+3,71+3,73+3,70+3,65+3,65+3,65+3,70+3
29,152729,https://sofifa.com/player/152729/gerard-pique-...,Piqué,Gerard Piqué Bernabéu,32,1987-02-02,194,85,Spain,FC Barcelona,...,77+3,83+3,83+3,83+3,77+3,78+3,85+3,85+3,85+3,78+3
51,189332,https://sofifa.com/player/189332/jordi-alba-ra...,Jordi Alba,Jordi Alba Ramos,30,1989-03-21,170,68,Spain,FC Barcelona,...,84+3,81+3,81+3,81+3,84+3,84+3,78+3,78+3,78+3,84+3
59,205600,https://sofifa.com/player/205600/samuel-umtiti...,S. Umtiti,Samuel Umtiti,25,1993-11-14,182,75,France,FC Barcelona,...,77+3,80+3,80+3,80+3,77+3,79+3,84+3,84+3,84+3,79+3
64,168651,https://sofifa.com/player/168651/ivan-rakitic/...,I. Rakitić,Ivan Rakitić,31,1988-03-10,184,78,Croatia,FC Barcelona,...,77+3,79+3,79+3,79+3,77+3,75+3,72+3,72+3,72+3,75+3
75,228702,https://sofifa.com/player/228702/frenkie-de-jo...,F. de Jong,Frenkie de Jong,22,1997-05-12,180,74,Netherlands,FC Barcelona,...,81+3,82+3,82+3,82+3,81+3,79+3,76+3,76+3,76+3,79+3
84,220440,https://sofifa.com/player/220440/clement-lengl...,C. Lenglet,Clément Lenglet,24,1995-06-17,186,81,France,FC Barcelona,...,77+2,81+2,81+2,81+2,77+2,79+2,83+2,83+2,83+2,79+2
91,194404,https://sofifa.com/player/194404/norberto-mura...,Neto,Norberto Murara Neto,29,1989-07-19,190,84,Brazil,FC Barcelona,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,231443,https://sofifa.com/player/231443/ousmane-dembe...,O. Dembélé,Ousmane Dembélé,22,1997-05-15,178,67,France,FC Barcelona,...,64+3,59+3,59+3,59+3,64+3,59+3,47+3,47+3,47+3,59+3
115,230658,https://sofifa.com/player/230658/arthur-henriq...,Arthur,Arthur Henrique Ramos Oliveira Melo,22,1996-08-12,171,73,Brazil,FC Barcelona,...,76+2,79+2,79+2,79+2,76+2,74+2,73+2,73+2,73+2,74+2
142,181872,https://sofifa.com/player/181872/arturo-vidal/...,A. Vidal,Arturo Vidal,32,1987-05-22,180,75,Chile,FC Barcelona,...,81+3,84+3,84+3,84+3,81+3,82+3,84+3,84+3,84+3,82+3
249,227928,https://sofifa.com/player/227928/nelson-cabral...,Nélson Semedo,Nélson Cabral Semedo,25,1993-11-16,177,67,Portugal,FC Barcelona,...,81+2,77+2,77+2,77+2,81+2,80+2,76+2,76+2,76+2,80+2
274,199564,https://sofifa.com/player/199564/sergio-robert...,Sergi Roberto,Sergio Roberto Carnicer,27,1992-02-07,178,68,Spain,FC Barcelona,...,80+3,79+3,79+3,79+3,80+3,79+3,75+3,75+3,75+3,79+3
344,201400,https://sofifa.com/player/201400/rafael-alcant...,Rafinha,Rafael Alcântara do Nascimento,26,1993-02-12,174,71,Brazil,FC Barcelona,...,72+2,72+2,72+2,72+2,72+2,70+2,67+2,67+2,67+2,70+2
602,241184,https://sofifa.com/player/241184/hector-junior...,Junior Firpo,Héctor Junior Firpo Adamés,22,1996-08-22,184,78,Spain,FC Barcelona,...,77+2,75+2,75+2,75+2,77+2,77+2,75+2,75+2,75+2,77+2
1276,233113,https://sofifa.com/player/233113/carles-alena-...,Aleñá,Carles Aleñá Castillo,21,1998-01-05,180,73,Spain,FC Barcelona,...,68+2,69+2,69+2,69+2,68+2,66+2,61+2,61+2,61+2,66+2
4042,242816,https://sofifa.com/player/242816/ricard-puig-m...,Riqui Puig,Ricard Puig Martí,19,1999-08-13,169,56,Spain,FC Barcelona,...,62+2,63+2,63+2,63+2,62+2,60+2,55+2,55+2,55+2,60+2
4045,245388,https://sofifa.com/player/245388/jean-clair-to...,J. Todibo,Jean-Clair Todibo,19,1999-12-30,190,81,France,FC Barcelona,...,64+2,67+2,67+2,67+2,64+2,65+2,69+2,69+2,69+2,65+2
4068,237156,https://sofifa.com/player/237156/moussa-wague/...,M. Wagué,Moussa Wagué,20,1998-10-04,177,70,Senegal,FC Barcelona,...,69+2,66+2,66+2,66+2,69+2,69+2,67+2,67+2,67+2,69+2
4780,237823,https://sofifa.com/player/237823/hiroki-abe/20...,H. Abe,安部 裕葵,20,1999-01-28,171,65,Japan,FC Barcelona,...,52+2,45+2,45+2,45+2,52+2,49+2,41+2,41+2,41+2,49+2
4781,240683,https://sofifa.com/player/240683/ludovit-reis/...,L. Reis,Ludovit Reis,19,2000-06-01,178,75,Netherlands,FC Barcelona,...,67+2,69+2,69+2,69+2,67+2,67+2,68+2,68+2,68+2,67+2
6634,239250,https://sofifa.com/player/239250/abel-ruiz-ort...,Abel Ruiz,Abel Ruiz Ortega,19,2000-01-28,182,73,Spain,FC Barcelona,...,48+2,48+2,48+2,48+2,48+2,46+2,46+2,46+2,46+2,46+2
7711,239249,https://sofifa.com/player/239249/oriol-busquet...,Oriol Busquets,Oriol Busquets Mas,20,1999-06-20,185,77,Spain,FC Barcelona,...,62+2,65+2,65+2,65+2,62+2,62+2,63+2,63+2,63+2,62+2
7712,240654,https://sofifa.com/player/240654/carles-perez-...,Carles Pérez,Carles Pérez Sayol,21,1998-02-16,172,65,Spain,FC Barcelona,...,51+2,47+2,47+2,47+2,51+2,49+2,43+2,43+2,43+2,49+2
7713,240915,https://sofifa.com/player/240915/juan-miranda-...,Miranda,Juan Miranda González,19,2000-01-19,185,76,Spain,FC Barcelona,...,66+2,62+2,62+2,62+2,66+2,65+2,62+2,62+2,62+2,65+2
9908,241810,https://sofifa.com/player/241810/juan-brandari...,Chumi,Juan Brandáriz Movilla,20,1999-03-02,186,78,Spain,FC Barcelona,...,59+2,61+2,61+2,61+2,59+2,60+2,64+2,64+2,64+2,60+2
9938,242999,https://sofifa.com/player/242999/alex-collado-...,Álex Collado,Álex Collado Gutiérrez,20,1999-04-22,177,66,Spain,FC Barcelona,...,57+2,57+2,57+2,57+2,57+2,56+2,52+2,52+2,52+2,56+2
9970,237522,https://sofifa.com/player/237522/jorge-cuenca-...,Jorge Cuenca,Jorge Cuenca Barreno,19,1999-11-17,189,76,Spain,FC Barcelona,...,58+2,62+2,62+2,62+2,58+2,60+2,64+2,64+2,64+2,60+2
11042,246139,https://sofifa.com/player/246139/ignacio-pena-...,Iñaki Peña,Ignacio Peña Sotorres,20,1999-03-02,184,78,Spain,FC Barcelona,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***PRINTING THE MAX PERFORMANCE VALUE OF A GIVEN CLUB***

In [ ]:
fifadataframe['overall'].loc[fifadataframe['club'] == "FC Barcelona"].max()

94

***DROPING SPECIFIC COLUMN***

In [ ]:
print(fifadataframe.head())
fifadataframe.drop(['lwb'],axis=1)

   sofifa_id                                         player_url  \
0     158023  https://sofifa.com/player/158023/lionel-messi/...
1      20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2     190871  https://sofifa.com/player/190871/neymar-da-sil...
3     200389  https://sofifa.com/player/200389/jan-oblak/20/...
4     183277  https://sofifa.com/player/183277/eden-hazard/2...

          short_name                            long_name  age         dob  \
0           L. Messi       Lionel Andrés Messi Cuccittini   32  1987-06-24
1  Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   34  1985-02-05
2          Neymar Jr        Neymar da Silva Santos Junior   27  1992-02-05
3           J. Oblak                            Jan Oblak   26  1993-01-07
4          E. Hazard                          Eden Hazard   28  1991-01-07

   height_cm  weight_kg nationality                 club  ...   lwb   ldm  \
0        170         72   Argentina         FC Barcelona  ...  68+2  66+2
1        187         83    Portugal             Juventus  ...  65+3  61+3
2        175         68      Brazil  Paris Saint-Germain  ...  66+3  61+3
3        188         87    Slovenia      Atlético Madrid  ...   NaN   NaN
4        175         74     Belgium          Real Madrid  ...  66+3  63+3

    cdm   rdm   rwb    lb   lcb    cb   rcb    rb
0  66+2  66+2  68+2  63+2  52+2  52+2  52+2  63+2
1  61+3  61+3  65+3  61+3  53+3  53+3  53+3  61+3
2  61+3  61+3  66+3  61+3  46+3  46+3  46+3  61+3
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  63+3  63+3  66+3  61+3  49+3  49+3  49+3  61+3

[5 rows x 104 columns]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,rm,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,92+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,88+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,89+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,89+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,33+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,35+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,45+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,46+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,46+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [ ]:
print(fifadataframe.head(2))
fifadataframe.drop([5],axis=0)
print("*****")

#**NumPy**

***IMPORTING NUMPY***

In [ ]:
import numpy as np

***CREATING 1dARRAY FROM LIST***

In [ ]:
student_marks_BA=[12,14,10]
marksarray=np.array(student_marks_BA)
print(marksarray)

[12 14 10]

***CREATING ND ARRAY FROM LIST OF LIST***

In [ ]:
import numpy as np
student_marks=[[12,14,10],[15,19,20],[11,15,19]]
marksarray=np.array(student_marks)
print(marksarray)

[[12 14 10]
 [15 19 20]
 [11 15 19]]

***CHECKING THE DIMENSION / SHAPE OF AN EXSISTING ARRAY***

In [ ]:
marksarray.shape

(3, 3)

***CREATING EVENLY SPACED ARRAY USING ARANGE***

In [ ]:
values1= np.arange(20)
print(values1)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [ ]:
values=np.arange(1,11)
print(values)

[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
values2=np.arange(5,11)
print(values2)

[ 5  6  7  8  9 10]

In [ ]:
values3=np.arange(1,11,2)
print(values3)

[1 3 5 7 9]

***CREATING ZERO ARRAY***

In [ ]:
zeroarray = np.zeros(5)
print(zeroarray)

[0. 0. 0. 0. 0.]

In [ ]:
zeroarray = np.zeros((2,6))
print(zeroarray)

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]

***CREATING ONES ARRAY***

In [ ]:
onesarray=np.ones(5)
print(onesarray)

[1. 1. 1. 1. 1.]

In [ ]:
onesarray2 = np.ones((4,2))
print(onesarray2)

[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]

***CREATING 2D IDENTITY MATRIX USING eye()***

In [ ]:
identityarray=np.eye(5)
print(identityarray)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

***FINDING LENGTH OF ARRAY***

In [ ]:
len(zeroarray)

2

In [ ]:
len(onesarray)

5

In [ ]:
len(onesarray2)

4

***RESHAPING AN ARRAY***

In [ ]:
firstarray=np.array([[10,20,30,40],[2,4,6,8],[5,10,15,20]])
print(firstarray.shape)
secondarray=firstarray.reshape(4,3)
print(firstarray)
print("*****")
print(len(firstarray))
print("*****")
print(secondarray)
third_array=firstarray.reshape(6,2)
print(third_array)

(3, 4)
[[10 20 30 40]
 [ 2  4  6  8]
 [ 5 10 15 20]]
*****
3
*****
[[10 20 30]
 [40  2  4]
 [ 6  8  5]
 [10 15 20]]
[[10 20]
 [30 40]
 [ 2  4]
 [ 6  8]
 [ 5 10]
 [15 20]]

***CREATING AN ARRAY WITH EVENLY SPACED VALUES WITHIN THE RANGE***

In [ ]:
val=np.linspace(1,10)
print(val)

[ 1.          1.18367347  1.36734694  1.55102041  1.73469388  1.91836735
  2.10204082  2.28571429  2.46938776  2.65306122  2.83673469  3.02040816
  3.20408163  3.3877551   3.57142857  3.75510204  3.93877551  4.12244898
  4.30612245  4.48979592  4.67346939  4.85714286  5.04081633  5.2244898
  5.40816327  5.59183673  5.7755102   5.95918367  6.14285714  6.32653061
  6.51020408  6.69387755  6.87755102  7.06122449  7.24489796  7.42857143
  7.6122449   7.79591837  7.97959184  8.16326531  8.34693878  8.53061224
  8.71428571  8.89795918  9.08163265  9.26530612  9.44897959  9.63265306
  9.81632653 10.        ]

In [ ]:
val=np.linspace(1,10,10)
print(val)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

In [ ]:
val=np.linspace(1,10,20)
print(val)

[ 1.          1.47368421  1.94736842  2.42105263  2.89473684  3.36842105
  3.84210526  4.31578947  4.78947368  5.26315789  5.73684211  6.21052632
  6.68421053  7.15789474  7.63157895  8.10526316  8.57894737  9.05263158
  9.52631579 10.        ]

***TO GENERATE RANDOM VALUES BETWEEN O AND 1***

In [ ]:
array=np.random.rand(3,3)
print(array)

[[0.29848783 0.2352203  0.27682941]
 [0.90886021 0.79411967 0.63258742]
 [0.99147448 0.41783798 0.43994322]]

***TO GENERATE RANDOM INTEGER VALUES***

In [ ]:
values=np.random.randint(1,3,5)
print(values)

[1 2 1 1 2]

In [ ]:
values=np.random.randint(1,20,8)
print(values)

[16  4  5  3 10  6 13 14]

In [ ]:
values.reshape(4,2)

array([[16,  4],
       [ 5,  3],
       [10,  6],
       [13, 14]])

In [ ]:
randshaped = np.random.randint(1,20,(5,3))
print(randshaped)

[[14  6 14]
 [17 10 11]
 [16 10  4]
 [10  6  9]
 [18  8  9]]

***ACCESSING VALUES FROM ARRAY USING INDEX***

In [ ]:
values=np.random.randint(10,20,5)
print(values)
print(values[0])

[15 15 10 14 13]
15

In [ ]:
values=np.random.randint(10,20,5)
print(values)
print(values[-1])

[13 11 17 11 16]
16

In [ ]:
values=np.random.randint(10,20,(3,6))
print(values)
print("******")
print(values[0])

[[18 12 16 17 16 17]
 [18 14 12 10 11 13]
 [13 11 10 19 15 15]]
******
[18 12 16 17 16 17]

In [ ]:
values=np.random.randint(10,20,(3,6))
print(values)
print("******")
print(values[-1])

[[17 19 16 17 16 16]
 [17 17 15 17 10 13]
 [10 10 14 11 14 14]]
******
[10 10 14 11 14 14]

In [ ]:
values=np.random.randint(10,20,(6,3))
print(values)
print("******")
print(values[0][1])

[[15 11 10]
 [13 17 18]
 [16 15 10]
 [18 18 14]
 [19 11 16]
 [13 16 18]]
******
11

***ACCESSING ELEMENTS OF A SPECIFIC RANGE***

In [ ]:
print(values[0:2])

[[15 11 10]
 [13 17 18]]

In [ ]:
print(values[:2])

[[15 11 10]
 [13 17 18]]

In [ ]:
print(values[0:])

[[15 11 10]
 [13 17 18]
 [16 15 10]
 [18 18 14]
 [19 11 16]
 [13 16 18]]

In [ ]:
print(values[2:5])

[[16 15 10]
 [18 18 14]
 [19 11 16]]

In [ ]:
print(values[2,2])

10

In [ ]:
print(values[2][2])

10

Specific Row, Only certain column range

In [ ]:
print(values[2,0:2])

[16 15]

Certain row range, selected column

In [ ]:
print(values)
print("*******")
print(values[2:4,1])

[[15 11 10]
 [13 17 18]
 [16 15 10]
 [18 18 14]
 [19 11 16]
 [13 16 18]]
*******
[15 18]

Row in range, Column  in range

In [ ]:
print(values)
print("*******")
print(values[2:4,0:2])

[[15 11 10]
 [13 17 18]
 [16 15 10]
 [18 18 14]
 [19 11 16]
 [13 16 18]]
*******
[[16 15]
 [18 18]]

***CONDITIONAL INDEXING***

In [ ]:
print(values)
print("*******")
print(values>15)

[[15 11 10]
 [13 17 18]
 [16 15 10]
 [18 18 14]
 [19 11 16]
 [13 16 18]]
*******
[[False False False]
 [False  True  True]
 [ True False False]
 [ True  True False]
 [ True False  True]
 [False  True  True]]

In [ ]:
print(values)
print("*******")
print(values[values>15])

[[15 11 10]
 [13 17 18]
 [16 15 10]
 [18 18 14]
 [19 11 16]
 [13 16 18]]
*******
[17 18 16 18 18 19 16 16 18]

In [ ]:
print(values)
print("*******")
values[values>15]=99
print(values)

[[15 11 10]
 [13 99 99]
 [99 15 10]
 [99 99 14]
 [99 11 99]
 [13 99 99]]
*******
[[15 11 10]
 [13 99 99]
 [99 15 10]
 [99 99 14]
 [99 11 99]
 [13 99 99]]

***TO CREATE A COPY OF AN EXISTING ARRAY***

In [ ]:
newvalues= values.copy()
print(values)
print("******")
print(newvalues)

[[15 11 10]
 [13 99 99]
 [99 15 10]
 [99 99 14]
 [99 11 99]
 [13 99 99]]
******
[[15 11 10]
 [13 99 99]
 [99 15 10]
 [99 99 14]
 [99 11 99]
 [13 99 99]]